[workspace]
    authors   = ["Yifei Liu <34564223+EzekielDaun@users.noreply.github.com>"]
    channels  = ["conda-forge"]
    name      = "gosselin-platform-iceoryx2"
    platforms = ["linux-64", "linux-aarch64", "osx-arm64", "win-64"]
    version   = "0.1.0"

[tasks]
[tasks.orca-motor-server]
    cmd = "bash -lc 'cd orca-motor-server && cargo run --release'"

[tasks.gamepad-twist-publisher]
    cmd = "bash -lc 'cd gamepad-twist-publisher && cargo run --release'"

[tasks.gp-kin-twist]
    cmd = "bash -lc 'python gp_kin_twist.py'"

[tasks.gp-kin-pose]
    cmd = "bash -lc 'python gp_kin_pose.py'"

[dependencies]
    python = ">=3.10.0,<3.14"
    rust   = ">=1.90.0,<1.91"

[pypi-dependencies]
    gosselin-platform = { git = "https://github.com/UBC-ARL/gosselin-platform.git" }
    iceoryx2          = ">=0.7.0, <0.8"

[feature.mujoco-sim]
[feature.mujoco-sim.pypi-dependencies]
    gosselin-platform = { git = "https://github.com/UBC-ARL/gosselin-platform.git", extras = [
        "mujoco-sim",
    ] }

[feature.mujoco-sim.tasks]
    gp-kin-twist-mujoco-sim = "python gp_kin_twist_mujoco_sim.py"

[feature.mujoco-sim.target.osx.tasks]
    gp-kin-twist-mujoco-sim = "mjpython gp_kin_twist_mujoco_sim.py"

[feature.oak-camera]
[feature.oak-camera.pypi-dependencies]
    depthai       = ">=3.1.0"
    opencv-python = ">=4.12.0.88"
    rerun-sdk     = ">=0.26.2"

[feature.oak-camera.target.osx-arm64.pypi-dependencies]
    depthai = { url = "https://files.pythonhosted.org/packages/15/3e/38c64a614add6bc245d3846f2591aa3a10c33aeda70572db922dcdd6822e/depthai-3.1.0-cp313.cp38.cp310.cp39.cp311.cp312-cp313.cp38.cp310.cp39.cp311.cp312-macosx_14_0_arm64.whl" }

[feature.oak-camera.tasks]
    oak-pcl-subscriber  = "python -u oak-camera/oak_pcl_subscriber.py"
    oak-rgbd-publisher  = "python -u oak-camera/oak_rgbd_publisher.py"
    oak-rgbd-subscriber = "python -u oak-camera/oak_rgbd_subscriber.py"

[environments]
    mujoco-sim = { features = ["mujoco-sim"] }
    oak-camera = { features = ["oak-camera"] }
