[workspace]
    authors   = ["Yifei Liu <34564223+EzekielDaun@users.noreply.github.com>"]
    channels  = ["conda-forge"]
    name      = "gosselin-platform-iceoryx2"
    platforms = ["linux-64", "linux-aarch64", "osx-arm64", "win-64"]
    version   = "0.1.0"

[tasks]
[tasks.orca-motor-server]
    cmd = "bash -lc 'cd orca-motor-server && cargo run --release'"

[tasks.gamepad-twist-publisher]
    cmd = "bash -lc 'cd gamepad-twist-publisher && cargo run --release'"

[tasks.gp-kin-twist]
    cmd = "bash -lc 'python gp_kin_twist.py'"

[tasks.gp-kin-pose]
    cmd = "bash -lc 'python gp_kin_pose.py'"

[dependencies]
    python = ">=3.10.0,<3.14"
    rust   = ">=1.90.0,<1.91"

[pypi-dependencies]
    gosselin-platform = { git = "https://github.com/UBC-ARL/gosselin-platform.git" }
    iceoryx2          = ">=0.7.0, <0.8"

[feature.mujoco-sim.pypi-dependencies]
    gosselin-platform = { git = "https://github.com/UBC-ARL/gosselin-platform.git", extras = [
        "mujoco-sim",
    ] }

[feature.mujoco-sim.tasks]
    gp-kin-twist-mujoco-sim = "python gp_kin_twist_mujoco_sim.py"

[feature.mujoco-sim.target.osx.tasks]
    gp-kin-twist-mujoco-sim = "mjpython gp_kin_twist_mujoco_sim.py"

[environments]
    mujoco-sim = { features = ["mujoco-sim"] }
